@font-face {
    font-family: 'Major'; 
    src: url('/static/MajorMonoDisplay-Regular.ttf'); 
  }
  @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');
body{
    background-color: black;
}
.gm-style-iw-d
{
    color:black;
}
textarea{
    display: none;
}
.beer{
    position: absolute;
    width: 70px;
    height: 80px;
    top:17px;
    right: -80px;
}
h1{
    font-family: 'Major',sans-serif;
    font-size: 50px
}
.conteiner
{
    display: flex;
    
}
.zabu
{
    color:white;
    position: absolute;
    top: 40%; 
    left: 30%; 
    transform: translate(-50%, -50%)
}
button
{
    position: absolute;
    top: 500px;
    left: 25%;
    text-align: justify;
    font-family: 'Montserrat',sans-serif;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 10px;
    border: 6px;
    background-color: white;
    box-shadow: 2px 3px 1px 1px gray;
    padding: 10px 40px 5px 40px;
}
.resultado
{
    display:none;
    position: absolute;
    font-family: 'Montserrat',sans-serif;
    background-color: rgb(196, 193, 193);
    color: rgb(255, 255, 255);
    height: auto;
    right: 5%;
    top: 10%;
    width: 500px;
    padding: 10px;
}
.lat{
    display: none;
}
.long{
    display: none;
}
.title{
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
}
.informacoes
{
    font-family: 'Montserrat',sans-serif;
}
