<!DOCTYPE html>
<meta charset="UTF-8" lang="pt-br">
<title>Bar Routes</title>
<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEVWbfmkjOM59r9woPSUJaDSrfnzrRGaE&libraries=places&callback=initMap"></script>
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Passion_One:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  
   
    <div class="conteiner">
    <div class="zabu">
        <h1>Bar route</h1> <img class="beer" src="/static/761866.jpeg"></img>
           

            <div id="map" style="height: 200px;"></div>

            <div>
                <form action="/" method="post" name="form1">
                    <input type="hidden"  name = "latitudelongitude" id="ltlng">
                    <input type="hidden" id="nomes" name = "nome">
                    <input type="hidden" id="distanciaa"  name = "distanciaAtual">
                    <textarea id="distanciasi" name = "distanciasi"></textarea>
                    <textarea id="nomesbar" name="nomesbar"></textarea>
                    <br>
                    Tamanho da população
                    <input type="text" name="tp" id="prob">
                    <br><br>
                    Nº de Gerações
                    <input type="text" name="ng">
                    <br><br>
                    Taxa de Cruyf
                    <input type="number" name="tc">
                    <br><br>
                    Taxa de Mutação
                    <input type="number" name="tm">
                    <br><br>
                    Intervalo de gerações
                    <input type="number" name="ig">
                    <br><br>

                    <!--<div class="barrinha">
                        <select name="barrinha" id="barrinha">
                            <option value="se">Subida de Encosta</option>
                            <option value="se*">Subida de Encosta*</option>
                            <option value="temp">Têmpera Simulada</option>
                            <option value ="todas">Todas</option>
                          </select>
                    </div>
                    -->
        
                </form>
            </div>
            <!--Tamanho do problema:
            <input type="text" id="prob">-->
            <br>
            <button id="but">Gerar Problema</button>
            
    </div>
    
    </div>
    <div class="resultado" id="resultado">
        {{cursoencosta}}
        {{distanciaencosta}}
        
        <br>
        
        {{cursoencosta2}}
        {{distanciaencosta2}}

        <br>
        {{cursotempera}}
        {{distanciatempera}}
        
        
        
    </div>
    <div class="lat" id="la">
        {{lat}}
    </div>
    <div class="long" id="lon">
        {{long}}
    </div>
    <div class = "lat2" id="laa">
        {{lat2}}
    </div>
    <script src="/static/script.js"></script>
    
</body>

