<!DOCTYPE html>
<meta charset="UTF-8" lang="pt-br">
<title>Bar Routes</title>
<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC93QqwB1SGrVxEHcaXM38eCN9hlNq8aNE&libraries=places&callback=initMap"></script>
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Passion_One:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  
   
    <div class="conteiner">
    <div class="zabu">
        <h1>Bar route</h1> <img class="beer" src="/static/761866.jpeg"></img>
            <br><br>
            <div id="texto">Bares em até 5km:</div>
            <br><br>
           
       

            <div id="map" style="height: 200px;"></div>

            <div>
                <form action="/" method="post" name="form1">
                    <input type="hidden"  name = "latitudelongitude">
                    <input type="hidden" id="nomes" name = "nome">
                    <input type="hidden" id="distanciaa"  name = "distanciaAtual">
                    <textarea id="distanciasi" name = "distanciasi"></textarea>
                    <textarea id="nomesbar" name="nomesbar"></textarea>
                </form>
            </div>
            Tamanho do problema:
            <input type="text" id="prob">
            <button id="but">Gerar Problema</button>
            
    </div>
    
    </div>
    <div class="resultado">
        {{distancia}}
        {{percursoencosta}}
        {{distanciaencosta}}
        {{nomesencosta}}
    </div>
    <script src="/static/script.js"></script>
    
</body>

