<!DOCTYPE html>
<meta charset="UTF-8" lang="pt-br">
<title>Bar Routes</title>
<head>
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Passion_One:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  
   
    <div class="conteiner">
    <div class="zabu">
        <h1>
            Bar route
            <br><br><br>
            <form action="/" method="post">
                <input type="hidden" value="A" name = "valorA">
                <input type="hidden" value="E" name = "valorE">
                <input type="submit" class="but">
            </form>
        </h1>
    </div>
    </div>

    
</body>

